
UIDeportes/obj/Debug/UIDeportes.csproj.AssemblyReference.cache
UIDeportes/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BLL/obj/Debug/BLL.csproj.AssemblyReference.cache
.vs/VSWorkspaceState.json
.vs/TP-TiendaDeporte/v17/DocumentLayout.json
.vs/TP-TiendaDeporte/v17/.wsuo
.vs/TP-TiendaDeporte/FileContentIndex/66ca996d-e460-4f29-b3fc-752c7db0ec8a.vsidx
.vs/TP-TiendaDeporte/FileContentIndex/3c45609e-cb36-4def-b640-b3ee7d22c8a7.vsidx
.vs/TP-TiendaDeporte/FileContentIndex/09796d5c-879b-44e0-9d1c-828c7667bf58.vsidx
.vs/slnx.sqlite
.vs/Deportes/v17/DocumentLayout.json
.vs/Deportes/v17/.suo
.vs/TP-TiendaDeporte/FileContentIndex/5b3baecf-d829-4f5c-b24d-992bbb5f10f8.vsidx
.vs/TP-TiendaDeporte/FileContentIndex/794aa640-6162-49bf-a029-624108ebea11.vsidx
